.card {
  font-family: "Amatic SC", sans-serif;
  background-color: #0d1b2a;
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e0e1dd;
  font-size: 24px;
  font-weight: 600;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: .5s;
  transform-style: preserve-3d;
    
  &.side {
    background: #778da9;
    color: white;
    transform: rotateY(-180deg);
  }
  .front,
  .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  .front {
    transform: rotateY(0deg);
  }
  .back {
    transform: rotateY(180deg);
  }
  &.side {
    .front {
      opacity: 0;
      display: none;
    }
    .id {
      transform: rotateY(180deg);
    }
  }
  .id {
    font-family: "Comfortaa", sans-serif;
    opacity: 0.7;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: 10px;
    text-transform: uppercase;
  }
}
